* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    height: 70vh;
    flex-direction: column;
    
}
.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.game__table {
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.row {
    width: 300px;
    height: 100px;
    display: flex;
}
.pole {
    width: 100px;
    height: 100px;
    display: flex;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.disable {
    pointer-events:none;
}
.hide {
    visibility: hidden;
}
.restart {
    height: 70px;
    line-height: 70px;
    margin-top: 50px;
    border: none;
    border-radius: 6px;
    background-color:rgba( 19, 173, 220, 0.772 );
    color: white;
    font-size: 25px;
}
.result_banner, .draw_banner {
    text-align: center;
    margin-top: 50px;
    font-size: 4.5em;
    color:#22dc2e;
}
.container_poles {
    text-align: center;
}